.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.header > h1 {
  font-size: 2rem;
  color: var(--primary);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_link {
  margin: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: var(--text-auto);
  transition: 1s;
}

.nav_link:hover {
  color: var(--primary);
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: center;
  }

  .header > h1 {
    font-size: 1.75rem;
  }
  
  .nav {
    display: none;
  }
}
