.container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 4rem;
}

.container_grey {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 1.5rem 3rem;
  width: 100%;
}

.container_block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem 2rem;
}

.container_block > h1 {
  font-size: 2.5rem;
  text-align: left;
  margin: 0.5rem;
}

.container_block > h1 > strong{
  color: var(--primary-color);
}

.container_block > h2 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  color: var(--text-color-grey);
  margin: 0.5rem;
}

.container_border {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.25rem solid var(--secondary-color);
  border-bottom:0.25rem solid var(--secondary-color);
  margin: 6rem 4rem;
}

.container_metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem 0 2rem;
}

.container_metric > h1 {
  font-size: 2.5rem;
}

.container_metric > h2 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  color: var(--text-color-light-grey);
}

.container_about {
  display: flex;
  align-items: center;
  background-color: var(--primary-dark-color);
  padding: 2rem 4rem;
  color: var(--white);
}

.container_about > section > h1 {
  border-bottom: 0.875rem solid var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.container_about > section > p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
}

.container_skills {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 4rem;
  width: 100%;
}

.container_skills > section {
  width: 45%;
  margin: 1rem;
}

.container_skills > section > h2 {
  color: var(--text-color-grey);
  border-bottom: 0.875rem solid var(--primary-dark-color);
  width: 100%;
  text-align: right;
}

.container_skills > h1 {
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

.container_skills_block {
  width: 30%;
  margin: 0.44rem;
  font-size: 1rem;
}

.container_image {
  width: 25rem;
}

.container_button {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
}

.btn {
  text-decoration: none;
  text-align: center;
  margin: 0.5rem;
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  box-shadow: -0.25rem 0.125rem 0.25rem #00000040;
  transition: 1s;
  width: 100%;
}

.btn:hover {
  box-shadow: none;
}

.btn_purple {
  color: var(--white);
  background-color: var(--primary-color);
}

.btn_white {
  color: var(--text-color-auto);
  background-color: var(--white);
  width: 100%;
}