.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.not_found > h1 {
  width: 100%;
  text-align: center;
  color: var(--primary);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.not_found > img {
  width: 12.5rem;
  max-width: 25rem;
}