.container_projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2rem 4rem;
}

.container_projects > h1 {
  width: 100%;
  text-align: center;
  color: var(--primary);
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.project_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-dark);
  box-shadow: -0.5rem 0.25rem 0.5rem #00000040;
  color: var(--secondary);
  font-size: 1rem;
  width: 45%;
  margin: 1rem;
  padding: 2rem;
  transition: 1s;
}

.project_card:hover {
  background-color: var(--secondary);
  color: var(--text-auto);
}

.project_info,
.project_team {
  font-style: normal;
  font-weight: 500;
  line-height: 2.75rem;
  margin-bottom: 0.5rem;
}

.project_info > h2 {
  border-bottom: 0.75rem solid var(--primary);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.project_team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.project_team > h3 {
  border-bottom: 0.5rem solid var(--primary);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
}

.project_team > p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .container_projects {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
  }

  .project_card {
    width: 100%;
  }

  .project_team > p {
    width: 100%;
  }
}
