:root {
    --black: #000000;
    --black-shadow: #00000040;
    --grey: #696969;
    --medium-grey: #BFB8B8;
    --light-grey: #F0F0F5;
    --purple: #5E3AEE;
    --dark-purple: #0F1221;
    --white: #ffffff;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 50%;
}

.block.row {
  align-items: center;
  justify-content: flex-start;
}

.container .block {
  text-align: center;
}

.container {
  margin: 35px;
  border-top: 2px solid var(--light-grey);
  border-bottom: 2px solid var(--light-grey);
}

.header {
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--purple);
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  width: 50%;
}

.nav {
  flex-flow: row wrap;
  justify-content: center;
  width: 50%;
}

.nav > a {
  padding: 8px;
  width: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  text-align: center;
  color: var(--black);
  transition: 1s;
}

.nav > a:hover {
  color: var(--purple);
}

.button-auto {
  border: none;
  text-decoration: none;
  text-align: center;
  box-shadow: -4px 5px 4px var(--black-shadow);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 16px;
  padding: 16px;
  transition: 1s;
}

.button-auto:hover {
  box-shadow: none;
}

.button-white {
  background-color: var(--white);
  color: var(--black);
}

.button-purple {
  background-color: var(--purple);
  color: var(--white);
}

.background-color-auto {
  background-color: var(--light-grey);
}

.background-color-purple {
  background-color: var(--purple);
}

.background-color-dark-purple {
  background-color: var(--dark-purple);
}

.content-title-auto {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
}

.content-title-white {
  border-bottom: 16px solid var(--dark-purple);
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: var(--white);
}

.content-title-white-border {
  border-bottom: 16px solid var(--purple);
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: var(--white);
}

.content-title-project {
  border-bottom: 8px solid var(--purple);
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}

.content-title-purple {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: var(--purple);
}

.content-subtitle-auto {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: var(--grey);
}

.content-text-highlight {
  color: var(--purple);
}

.content-text-auto {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
}

.content-text-white {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
}

.content-text-grey {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--medium-grey);
  width: fit-content;
}

.content-image-auto {
  max-width: 400px;
  min-width: 250px;
}

.content-image-rounded {
  border: 2px solid var(--dark-purple);
  border-radius: 10%;
  max-width: 300px;
  min-width: 250px;
}

.skills {
  display: flex;
  flex-flow: row wrap;
}

.skill-block {
  width: 33%;
  padding: 32px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  box-shadow: -8px 10px 8px var(--black-shadow);
  background-color: var(--dark-purple);
  color: var(--white);
  margin: 16px;
  padding: 32px;
  width: 30%;
  height: 500px;
  transition: 1s;
}

.project:hover {
  box-shadow: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.contact-icon {
  width: 70px;
  margin: 16px;
}

.footer {
  align-items: center;
  text-align: center;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  margin: auto;
  height: 100vh;
}