* , *:before , *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inknut Antiqua, serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 75px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section-form {
  margin: 0.5rem;
  border: 0;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin: 1rem;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  margin: 1rem;
}

.label-form {
  margin: 0.5rem;
}

#textarea {
  height: 100px;
}

.textarea p {
  display: inline;
}

#login {
  width: 100px;
}

#input-email , #input-password , #input-name , #input-lastname , #input-house , #house {
  width: 320px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block {
  width: 50%;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer {
  display: flex;
  background-color: lightgray;
  justify-content: center;
  padding: 2rem;
}
