body{
    background-color: rgb(253, 251, 251);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 4px;
    line-height: 1.5;
    color: #000;
    font-family: monospace;
    clear: both;
    
}

/*Cabeçalho*/
#cabecalho{
    background-color: #2E6C53;
    text-align: center;
    top: 0;
    font-size: 5em;
    width: 100%;
    margin: auto;
}

#titulo{
    color: #fff;
    margin: 0;
    padding: 1em;
    font-size: 2em;
    display: inline-block;
}

.menu {
    text-align: center;
    padding: 0.5em;
    margin: auto;
}

.menu a{
    margin: 1em;
    padding: 2em;
    text-decoration: none;
    color: #fff;
}

.menu a:hover{
    color: #C4C4B0;
}

.menu_cabecalho {
    background-color: #59c18d;
}

/*Conteúdo*/
main {
    z-index: 2;
    clear: both;
}
#conteudo {
    padding: 5%;
    margin: auto;
    font-size: 4em; 
    text-align: center;
}

#conteudo h2, #conteudo h3 {
    color: #59c18d;
}

#conteudo h2{
    font-size: 2.5em;
}

#conteudo h3 {
    padding: 0.2em;
    font-size: 1.5em;
    text-align: center;
}

#conteudo p{
    padding: 5px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 50px;
}

#conteudo td{
    margin-right: 5em;
}

#conteudo table{
    text-align: center;
}

#conteudo ol, #conteudo ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

#minha_foto {
    width: 20%;
    border-radius: 50%;
    box-shadow: 1em 1em 1em #C4C4B0;
}

.lado-esquerdo {
    float: left;
}

.lado-direito {
    float: right;
}

#aprendizados, #tryber{
    width: 45%;
    margin: auto;
}

/*Rodapé*/
#rodape {
    clear: both;
    background-color: #2E6C53;
    font-size: 5em;
    padding: 2em;
}