@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --dark-grey: #31373E;
  --light-grey: #E2E9EC;
  --purple: #7A51B4;
  --yellow: #FFC201;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: var(--dark-grey);
  transition: 0.75s;
}

a:hover {
  text-decoration: none;
  color: var(--purple);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav a, .nav-footer a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-color);
  transition: 0.75s;
}

.nav a:hover, .nav-footer a:hover {
  color: var(--yellow);
  transition: 0.75s;
}

.social-icons {
  width: 160px;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.75s ;
  background-color: var(--yellow);
}

.social-icons:hover {
  box-shadow: 5px 5px 5px var(--dark-grey);
}

.image {
  min-width: 20%;
  max-width: 45%;
  border-radius: 50%;
  border: 2px solid var(--purple);
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 2rem;
}

.content-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--purple);
  font-size: 2rem;
  padding: 1rem;
}

.content-text {
  line-height: 2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0.25rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col > .btn {
  width: 100%;
}

.btn-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1.5rem;
  border: 2px solid var(--purple);
  border-radius: 50px;
  color: var(--purple);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.75s;
  width: 250px;
  height: 250px;
}

.btn {
  margin: 1rem;
  padding: 1.5rem;
  border: 2px solid var(--purple);
  border-radius: 50px;
  color: var(--purple);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.75s;
  width: fit-content;
}

.btn:hover,
.btn-project:hover {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  transition: 0.75s;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.75rem;
  background-color: var(--light-grey);
}
