body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    text-align: center;
    padding: 30px;
    color: #fff;
    background-color: #2e6c53;
}

.ball {
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
    padding: 40px;
    transition: 0.5s;
}

.ball:hover {
    box-shadow: 5px 5px 5px #555;
    transition: 0.5s;
}

#rgb-color {
    text-transform: uppercase;
}

#color-guess {
    height: 150px;
}

.container {
    padding: 75px;
    width: 80%;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    color: #2e6c53;
}

.btn {
    width: 20%;
    margin: 10px;
    padding: 25px;
    border: 1px solid #2e6c53;
    border-radius: 5px;
    
    background-color: #2e6c53;
    font-size: 20px;
    color: #fff;
    box-shadow: 3px 3px 3px #bbb;
    transition: 0.5s;
}

.btn:hover {
    background-color: #59c18d;
    border: 1px solid #59c18d;
    transition: 0.5s;
}