body {
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ddd;
}

.container {
    width: 80%;
    padding: 25px;
    margin: auto;
    background-color: #fff;
    color: #2e6c53;
}

header, footer {
    background-color: #2e6c53;
    color: #fff;
    padding: 40px;
}

#meme-image-container {
    min-width: 250px;
    min-height: 250px;
    width: fit-content;
    border: 1px solid black;
    display: block;
    background-color: white;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

input {
    padding: 20px;
}

#meme-info {
    padding: 20px;
}

#text-input {
    width: 300px;
}
  
#meme-text {
    position: absolute;
    text-shadow: black 5px 5px 5px;
    font-size: 30px;
    color: white;
    display: block;
    bottom: 1%;
}
  
#meme-image {
    position: relative;
    min-width: 300px;
    min-height: 300px;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
}

#fire {
    background-color: red;
    margin-bottom: 5px;
}
 
#water {
    background-color: blue;
}
  
#earth {
    background-color: green;
}

.img {
    width: 50px;
    height: 50px;
}