body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header, header h1, footer {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #2E6C53;
    color: #fff;
}

ol {
    padding: 0;
    list-style: none;
}

.list-item {
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px 2px #555;
}

.selected {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through;
}

.container {
    width: 80%;
    margin: auto;
    padding: 100px;
    text-align: center;
}

.container h2 {
    color: #2E6C53;
}

.btn, .input {
    width: 95%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.btn-container {
    margin: 20px;
}

.btn {
    width: 20%;
    margin: 10px;
    text-transform: uppercase;
    background-color: #2E6C53;
    border: 1px solid #2E6C53;
    color: #fff;
    box-shadow: 3px 3px 3px #bbb;
    transition: 0.5s;
}

.btn:hover {
    background-color: #59c18d;
    border: 1px solid #59c18d;
    transition: 0.5s;
}

.input {
    width: 95%;
}